<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.may.routeplansystem.dao.QuestionDao">
    <resultMap id="question" type="com.may.routeplansystem.entity.po.Question">
        <id column="question_id" property="questionId"/>
        <result column="question_name" property="questionName"/>
        <result column="user_id" property="userId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="simple_executed" property="simpleExecuted"/>
        <result column="genetic_executed" property="geneticExecuted"/>
        <result column="new_genetic_executed" property="newGeneticExecuted"/>
        <result column="process_state" property="processState"/>
    </resultMap>

    <sql id="question_columns">
        question_id,question_name,user_id,process_state,simple_executed,genetic_executed,new_genetic_executed,del_flag
    </sql>

    <insert id="insertQuestion" parameterType="com.may.routeplansystem.entity.po.Question" useGeneratedKeys="true"
            keyProperty="questionId">
        insert into question(question_name, user_id)
        values (#{questionName},#{userId})
    </insert>

    <delete id="deleteQuestion" parameterType="java.lang.Integer">
        delete from question
        where question_id=#{questionId}
    </delete>

    <update id="updateQuestion" parameterType="com.may.routeplansystem.entity.po.Question">
        update question
        set question_name=#{questionName}
        where question_id=#{questionId}
    </update>

    <select id="findQuestionsByUserId" parameterType="java.lang.Integer" resultMap="question">
        select
        <include refid="question_columns"/>
        from question
        where user_id=#{user_id}
    </select>

    <select id="findQuestionByQuestionId" parameterType="java.lang.Integer" resultMap="question">
        select
        <include refid="question_columns"/>
        from question
        where question_id=#{questionId}
    </select>

    <select id="findQuestionByQuestionNameAndUserId" resultMap="question">
        select
        <include refid="question_columns"/>
        from question
        where question_name=#{questionName}
        and user_id=#{userId}
    </select>

    <update id="updateQuestionProcessState" parameterType="java.lang.Integer">
        update question
        set process_state=#{processState}
        where question_id=#{questionId}
    </update>

    <update id="updateSimpleExecuted" parameterType="java.lang.Integer">
        update question
        set simple_executed=#{state}
        where question_id=#{questionId}
    </update>

    <update id="updateGeneticExecuted" parameterType="java.lang.Integer">
        update question
        set genetic_executed=#{state}
        where question_id=#{questionId}
    </update>

    <update id="updateNewGeneticExecuted" parameterType="java.lang.Integer">
        update question
        set new_genetic_executed=#{state}
        where question_id=#{questionId}
    </update>

    <select id="test" resultType="java.lang.Integer">
        select process_state from question where question_id=7
    </select>
</mapper>